<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
</head>
<body>

	<h2>Cadatro de Usuarios</h2>
	
	<form th:object="${usuario}" th:action="@{/save}" method="POST">
	
		Nome: <input type="text" th:field="*{nome}"/>
		
		<br/><br/>
		
		Departamento: 
		<select th:field="*{departamento.id}">
			<option th:text="Selecione" th:value="0">
    		<option th:each="dept : ${listaDepartamentos}" th:text="${dept.nome}" th:value="${dept.id}">
		</select>
		
		<br/><br/>
		
		<button type="submit">Cadastrar</button>
				
	</form>
	
</body>
</html>