<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="alert alert-success" th:if="${msgSucesso ne null}">
		<span th:text="${msgSucesso}"></span>
	</div>

	<h2>Lista de Usu&uacute;rios</h2>
	
	<br/>
	
	<table border="1" style="width: 30%;">
		<thead>
        	<tr>
            	<th>Codigo</th>
                <th>Nome</th>
                <th>A&ccedil;&otilde;es</th>
            </tr>
		</thead>
           
        <tbody>
        	<tr th:each="usuario: ${listaUsuarios}">
            	<td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td>
                	<a th:href="@{ '/alterar/' + ${usuario.id} }">Alterar</a>
                	|
                	<a th:href="@{ '/excluir/' + ${usuario.id} }">Excluir</a>
				</td>
            </tr>
        </tbody>
	</table>
	
	<br/>
	
	<a th:href="@{/cadastro}">Cadastrar Novo Usuario</a>

</body>
</html>